<div class="text-layout">
  <h1> DecimalPipe y Porcentaje </h1>
  <p>
    Pipes incluidos en Angular - Usualmente en el Common Module.
  </p>
</div>

<div class="grid">

  <div class="col-4">
    <p-card header="Ventas netas"
            subheader="del presente año">
        <i class="pi pi-dollar"></i>
        {{ (ventasNetas + 10000000) | number: '1.5-5' }}
    </p-card>
  </div>


  <div class="col-4">
    <p-card header="Ventas brutas"
            subheader="del presente año">
        {{ (ventasNetas + 20000000) | currency:'CO': 'symbol-narrow': '1.0-4' }}
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="Margen de ganancia (%)"
            subheader="del presente año">
        {{ porcentaje | percent: '2.2-2' }}
    </p-card>
  </div>

</div>