<!-- <div class="text-layout">
  <h1> {{ nombre |  titlecase }} {{contador | currency}} {{obj | json}}</h1>
</div> -->

<!-- <button (click)="mostrarNombre()">
   Cambiar nombre
</button> -->
<!-- <div class="row">
  <div class="col">
    <p-card [header]="nombre | titlecase"
            subheader="Simple card's subheader">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Fugiat quo amet doloribus aliquid, maxime, ut illum quasi
         animi reiciendis vel officiis. Cumque repellat velit et
         saepe facilis, accusamus qui molestias.
      </p>
    </p-card>
  </div>
</div>
<p-button label="Cambiar nombre"
          (onClick)="mostrarNombre()"
          icon="pi pi-fast-forward"
          class="p-button-help"
          iconPos="right">
</p-button> -->
 <app-menu></app-menu>
 <router-outlet></router-outlet>
 